// Dependencies.
@import 'base/headings/headings';
@import 'components/clearfix/clearfix';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

.header,
%header {
  @extend %clearfix;
  background: $header;
  padding: 5px 0;
  margin-bottom: 25px;
  .layout-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // Wrapping link for logo.
  &__logo {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 20px 20px 0 0;
    font-size: 70px;
    a {
      color: $main;
      font-family: $kittens;
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  &__main-menu {
    font-family: $kittens;
    .navbar li {
      border-right: 1px dashed $blue;
      padding: 0 15px;
      &:last-child {
        border-right: 0;
      }
    }
    a {
      color: $main;
      text-decoration: none;
      font-size: 30px;
      &:hover {
        color: $blue;
      }
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }
}
